body{
    background-image: url(./gameimage/lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg);
    height: 100%;
    width: 100%;
    background-size : cover;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.box{
    background-color: rgb(250, 249, 246,0.6);
    width: 400px;
    height: 650px;
    border: 2px solid rgb(0, 255, 106);
    text-align: center;
    padding-bottom: 40px;
}
.font{
    font-size: 20px;
    font-weight: 600;
}
.font2{
    font-size: 15px;
    font-weight: 600;
}
h1{
    color: white;
    font-size: 2.5em;
    background-image: url(./gameimage/검정초록.png);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 7s linear infinite;
}
input {
    padding: 15px;
    margin: 5px 0;
    width: 48%;
    border: 2px solid greenyellow ;
    border-radius: 10px;
  }
  button {
    width: 105px;
    background: rgb(183, 245, 59);
    border: 2px solid purple ;
    border-radius: 10px;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
    margin: 5px;
    margin-bottom: 35px;
  }
  button:hover{
    background-color: purple;
    color: white;
  }
  .main-image{
    width: 30vh;
    height: 30vh;
    margin: 20px;
  }
@keyframes animate {
    from{
        background-position: 0% 50%; 
    }to{
        background-position: 50% 0%;
    }
}

@media screen and (max-width: 48rem){

      .box{
        width: 300px;
        height: 600px;
      }
      h1{
    
        font-size: 1.8em;
      }
      button {
        width: 80px;

      }

}